.benefit {
    @media screen and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}

.benefit__set {   
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
                
        margin-top: 94px;
        margin-bottom: 94px;

    }
}

.benefit__item {
    display: inline-block;   
    

    @media screen and (min-width: 480px) {
        width: 450px;
    }

        @media screen and (max-width: 767px) {
         &:not(:last-child) {
        margin-bottom: 30px;
     }   
}

    @media screen and (min-width:768px) {
        width: calc((100% - 60px)/2);
        padding-left: 15px;
        padding-right: 15px;
        margin: 15px;
    }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
        width: 270px;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.benefit__image {
    max-width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 450px;        
    }

    @media screen and (min-width:768px) {
        width: 354px; 
    }

    @media screen and (min-width:1200px) {
        width: 270px;
        margin: 0px;
    }

}

.benefit__title {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-font-color);
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    @media screen and (min-width:768px) {
        text-align: left;;
    }
}

.benefit__description {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);  
    margin-left: auto;
    margin-right: auto;  
}





// @media screen and (min-width:1200px) {
    
// }


// .benefit__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--primary-font-color);
//     margin-bottom: 10px;
//     margin-top: 30px;
// }

// .benefit__description {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--secondary-font-color);
// }

// .benefit__set {
//     display: flex;
// }

// .benefit__item:not(:last-child) {
//     margin-right: 30px;
// }

// .benefit__image {
//     width: 270px;
//     height: 120px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px;
//     background-color: #F5F4FA;
// }