address {
    font-style: normal;
    font-weight: 400;
}

.page-footer {
    background-color: var(--main-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.footer-container {
@media screen and (min-width: 768px){
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
            
    }
}

.contact-footer {    

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
        text-align: left;
    }
}

.footer-leftside__adress {
    margin-top: 20px;
}

.contact-footer__address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-footer__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF60;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);

    @media screen and (min-width: 1200px) {
    text-align: left;
    }
}

.footer-leftside {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    flex-grow: 1;    
    }
}

.footer-rightside {
    @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    margin-right: 93px;
    }
}

.socials__footer {
        display: flex;
        justify-content: center;
    }

.socials__link-footer {
    @extend %align;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .socials__link-footer:hover &,
    .socials__link-footer:focus & {
    fill: var(--primary-color);
    }
}

.footer-form {

@media screen and (min-width: 768px) and (max-width: 1199px){
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 1200px) {
    width: 570px;
    display: flex;
    justify-content: flex-end;
    }
}

.footer-form-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
    text-align: left;
    }
}

.footer-form-input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: #FFFFFF;
    margin-bottom: 20px;
    outline: none;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
.footer-form-field {
    margin-right: 12px;
    margin-bottom: 0;
    }
}

.footer-form-button {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.footer-form-submit-icon {
    margin-left: 10px;
}

